<!DOCTYPE html>
<html>
  <head>
    <title>Node Chat</title>



  </head>

<body> 
      <!-- Le styles  -->
    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Libraries  -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/jquery-2.0.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/socket.js"></script>

  <script type="text/javascript">

  $(document).ready(function(){

    $('#chat').submit(function(event){

      event.preventDefault();

      var message = $('#message').val();
      $('#message').val('');
      
      if (!message == ''){
        server.emit('messages', message);
      }
      return false;
    });

  });

  </script>


  <div class = "messageBox">

    <div id = 'users'>

    </div>

    <div id = 'messages'>

    </div>

    <form id = 'chat'>

      <input type = 'text' id = "message">

      <button class = 'btn' type = 'submit' value = 'send' id = 'submit'>Submit</button>

    </form>

  </div>

  <%= user %>
</body>

