<!DOCTYPE html>
<html>
	<head>
		<script src="../assets/js/jquery-2.0.0.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		
		<title>Test app </title>
	</head>
	<body>
		<%- body %>
	</body>
</html>